/* Improt Fonts of Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

/* Variables */
:root{
    --header-height: 3.5rem;

    --first-hue: 201;
    --sat: 20%;
    --lig: 23%;
    --second-hue: 49;
    --second-sat: 60%;
    --second-lig: 93%;

    --first-color: hsl(var(--first-hue),var(--sat), var(--lig));
    --second-color-alt: hsl(var(--first-hue), var(--sat), 19%); /* -4% lig */
    --text-color: hsl(var(--second-hue), var(--second-sat), var(--second-lig));

    /* Fonts and Typography */
    /* .5rem= 8px | 1rem= 16px */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 1.75rem;
    --h1-size: 1.5rem;
    --h2-size: 1.25rem;
    --h3-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --tiny-font-size: .625rem;

    /* Fonts Weight */

    --font-medium: 500;
    --font-semibold: 600;


    /* Responsive Typography */
}

@media screen and (min-widht: 968px) {
    ::root{
        --biggest-font-size: 2.25rem;
        --h1-size: 2.25rem;
        --h2-size: 1.5rem;
        --h3-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --tiny-font-size: .813rem;
    }
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body,
button,
input,
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    background-color: var(--first-color);
    color: var(--text-color);
}

h1,h2,h3{
    color: var(--text-color);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    cursor: pointer;
    outline: none;
    border: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* Regular css Classes */
.container{
    max-width: 90%;
    margin-left: 1rem;
    /* margin-right: 1rem; */
}

.grid{
    display: grid;
    gap: 1.25rem;
}

main{
    overflow: hidden;
}

.section{
    padding: 4.5rem 0 1rem;
}

.section__titel,
.section__subtitel{
    text-align: center;
}

.section__titel{
    font-size: var(--h2-size);
    color: var(--text-color);
    margin-bottom: 2rem;
}


.section__subtitel{
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color);
}

/* HEADER & NAV */
.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: bisque;
}

.nav{
    height: var(--header-height);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}

.nav__menu{
    position: fixed;
    bottom: 1rem;
    background-color: hsl(var(--first-hue), 32%, 16%, .8);
    width: 90vw;
    max-width: 500px;
    border-radius: 4rem;
    padding: 1rem 2.25rem; 
    backdrop-filter: blur(10px);
}

.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link{
    color: var(--text-color);
    font-size: 1.35rem;
    padding: .4rem;
    display: flex;
}